<h1>Listing categories</h1>
<%= @message %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
		  <%if category.icon.empty? || category.icon == ""%>
            <img src="images/empty.png" alt= <%= category.name %> width="50" height="50"/>
          <%else%>
            <img src= <%= category.icon %> alt= <%= category.name %> width="50" height="50"/>
          <%end%>
		</td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
<br/>
<%= link_to 'Home', root_path %>
